<div class="profile-container">
  <img class="profile-img" src="assets/pfp.jpg" alt="Profile Image" />
  <span class="title">Alan Turing</span>
  <p class="email">alanturing&#64;gmail.com</p>
  <form class="profile-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Cambiar contraseña</mat-label>
      <input matInput type="password" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirmar contraseña</mat-label>
      <input matInput type="password" />
    </mat-form-field>
  </form>
  <div class="button-group">
    <button mat-raised-button class class="cancel-button">Cancelar</button>
    <button mat-raised-button class class="save-button">Guardar</button>
  </div>
</div>